@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.ErrorPageTitleCaption;
}

<h1 class="text-danger">@Resources.ErrorPageTitleCaption</h1>
<h2 class="text-danger">@Resources.ErrorPageDetailsCaption</h2>

